/**
 * Style sheets
 *
 * @package     local_trainingtroops
 * @author      Rémi Lefeuvre
 * @author      Charly Piva
 * @copyright   (C) Rémi Lefeuvre 2017
 * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

textarea {
    resize: vertical;
}

.navbar-right {
    margin-right: 0px; /* bootstrap - suppression du -10px */
}

.form-control[disabled] {
    background-color: #eee;
}

.form-group select {
    max-width: none;
}
.row
{
    margin-left: 0;
    margin-right: 0;
}
.bac-col{
    padding: 10px;
}
.bac{
    background-color: #f7941d;
    padding: 8px;
    border-radius: 4px;
    /*overflow: hidden;*/
}
.bac h2{
    margin-top: 2px;  
    text-align: center;
}
.bac-col a{
    color: white;
}
.bac-col a:hover{
    text-decoration: none;
}
.bac h2{
    color: black;
    min-height:6em;
}
.bac-titre{
    max-height: 6em;
    overflow: hidden;
}
.bac-info{
    text-align: center;
    font-size: 1em;
}
.bac-options{
    text-align: center;
    font-size: 2em;
}
.button-center{
    text-align: center;
}
#table-enseignants{
    min-width: 100%;
}
#table-enseignants th{
    font-size: 0.8em;
}
#form-generer-mails{
    margin-top: 1em;
}

 /* Tooltip container */
.tool-tip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tool-tip .tooltiptext {
    font-size: 0.6em;
    
    visibility: hidden;
    width: 240px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -120px;
    padding: 0px 5px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tool-tip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool-tip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} 